{% extends "layout.html.twig" %}

{% block title %}
    <title>Blog</title>
{% endblock %}

{% block content %}
<div class="container">

    {% for post in posts %}
        <div class="card" style="width: 100%;">
            <div class="card-block">
                <h2 class="card-title text-center">{{ post.title }}</h2>
                {% if post.update_at %}
                    <p id="date" class="card-text text-center text-justify">Date de dernière modification {{ post.update_at|date('d/m/Y') }}</p>
                {% else %}
                <p id="date" class="card-text text-center text-justify">Date de création {{ post.creation_at|date('d/m/Y') }}</p>
                {% endif %}
                <div class="container col-lg-8"><img class="card-img text-lg-left" src="/upload/{{ post.img }}"/></div>
                <p class="card-text">{{ post.chapo}}</p>
                <a href="/posts/{{ post.id }}" class="btn btn-primary">Lire l'article</a>
             </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
