{% extends "layoutadmin.html.twig" %}

{% block content %}
<div class="container">
{% if comments %}
        {% for comment in comments %}
            <form action="/panel/comment/validated/{{ comment.post_id }}" method="post" class="col-lg-8 offset-lg-2" enctype="multipart/form-data">
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                <input type="hidden" name="__csrf" id="__csrf" value="{{ __csrf }}" />
                <div id="com" class="card">
                    <div class="card-block">
                        <h4 id="date" class="card-text">Par {{ comment.author }}</h4>
                        <p>le  {{ comment.comment_at| date("d.m.Y à H:i")}}</p>
                        <p class="card-text">{{ comment.comment }}</p>
                        <button type="submit" style="width: 10em; margin-bottom: 3em" class="btn btn-success btn-block">Valider</button>
                    </div>
                </div>
            </form>
        {% endfor %}
    {% else %}
        <p>Il n'y a pas de commentaire à valider</p>
    {% endif %}
    {% endblock %}
