{% extends "layoutadmin.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for post in posts %}
                <div class="card-group col-md-4" style="margin-bottom: 10px">
                    <img class="card-img-top" alt="Card image cap" style="width: 100%; height: 150px" src="/upload/{{ post.img }}" >
                    <div class="card-block">
                        <h4 class="card-title" style="word-wrap: break-word">{{ post.title }}</h4>
                        <p class="card-text">Derniere modification le:{{ post.creation_at|date('d/m/Y') }}</p>
                        <p class="card-text"> Publié par :{{ post.author}}</p>
                        <a href="/panel/edit/post/{{ post.id }}" class="btn btn-primary btn-block">Editer l'article</a>
                        <a href="/panel/delete/post/{{ post.id }}" class="btn btn-danger btn-block">Supprimer l'article</a>
                        <a href="/panel/comment/validated/{{ post.id }}" class="btn btn-success btn-block">Commentaires à valider</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
