{% extends "layoutadmin.html.twig" %}

{% block content %}
    <h1>Vous êtes en train de modifier l'article : <strong>{{ post.title }}</strong></h1>
    <div class="container-fluid">
        <div class="row">
            <form action="/panel/edit/post/{{ post.id }}" method="post" class="col-lg-8 offset-lg-2" enctype="multipart/form-data">
                <input type="hidden" name="__csrf" id="__csrf" value="{{ __csrf }}" />

                <div class="form-group">
                    <label for="img">Image:</label>
                    <input type="file" class="form-control" name="img" placeholder="{{ post.img }}" >
                </div>

                <div class="form-group">
                    <label for="title">Titre:</label>
                    <input type="text" class="form-control" name="title" value="{{ post.title }}" >
                </div>

                <div class="form-group">
                    <label for="chapo">Chapo:</label>
                    <textarea class="form-control" rows="5" name="chapo">{{ post.chapo }}</textarea>
                </div>

                <div class="form-group">
                    <label for="content">Contenu:</label>
                    <textarea class="form-control" rows="10" name="content">{{ post.content }}</textarea>
                </div>

                <div class="form-group">
                    <label for="author">Auteur:</label>
                    <input type="text" class="form-control" name="author" value="{{ post.author }}" >
                </div>

                <button type="submit" class="btn btn-info">Modifier</button>
            </form>
        </div>
    </div>
{% endblock %}
